* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgb(117, 28, 200);
}
.container {
  max-width: 990px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  /* background-color: tomato; */
}
.logo h1 {
  font-size: 23px;
  font-family: cursive;
  color: #fff;
}
.menu {
  display: flex;
  align-items: center;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 20px;
  color: #fff;
}

/* banner */
#banner {
  background-image: url("./img/imgs.jpg");
  height: 580px;
  background-size: cover;
  background-position: center;
}
.banner-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-title,
.banner-area p {
  margin: 0;
  padding: 0;
}
.banner-title {
  font-size: 60px;
  color: #ffff;
  text-shadow: 4px 2px 2px #000;
}
.banner-area p {
  font-size: 18px;
  color: #ffff;
  text-shadow: 4px 2px 2px #000;
  font-weight: normal;
  margin-bottom: 20px;
}

@keyframes animate-bar {
  0% {
    margin-left: 20px;
    width: 10%;
    background-color: rgb(7, 108, 175);
  }
  25% {
    margin-right: 20px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-right: 0;
  }
  100% {
    transition: all 2s linear;
  }
}

.banner-bar {
  width: 40%;
  height: 3px;
  background-color: rgb(186, 197, 203);
  animation-name: animate-bar;
  animation-duration: 1s;
}

.widget-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  /* background-color: red; */
}
.widget-title h1 {
  margin-bottom: 10px;
}
@keyframes animate-widget-bar {
  0% {
    width: 100%;
  }

  100% {
    width: 40%;
    transition: all 1s linear;
  }
}

.widget-bar {
  width: 40%;
  height: 3px;
  animation-name: animate-widget-bar;
  animation-duration: 1s;
  background-color: red;
}
/* menu mobile */
.menuMobile {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 52.5px;
}
.mm_line {
  height: 5px;
  background-color: rgb(164, 88, 164);
}

@media (max-width: 470px) {
  .menu ul {
    display: none;
  }
  .menuMobile {
    display: flex;
  }
  .menuM {
    padding-right: 20px;
  }
  .logo {
    padding-left: 20px;
  }

  .menu ul {
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #4e4848;
    position: absolute;
    margin-top: 260px;
    left: 0;
    transition: all 1s ease;
  }
  .menu a {
    color: #fff;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-area p {
    max-width: 350px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
  }
  .banner-bar {
    width: 85%;
  }
  .projects {
    padding-left: 10px;
  }
  .contact {
    padding-right: 10px;
  }
} ;
